.financial{
    margin-left: 200px;
    width: 70%;
    height: 720px;
    background-color: white;
    
    .textf{
       h5{
        margin-left: 433px;
        color: blueviolet;
       }
       h1{
        margin-left: 243px;
       }
    }
    .girl{
        img{
            margin-left: 578px;
            margin-bottom: -56px;
        }
    }
    .sistatics{
        margin-left: 100px;
    }
   
}