.marks{
    margin-top: 580px;
    margin-left: 80px;
    width: 100%;
    height: 15vh;
    background-color: white;
    display: flex;
    nav{
        width: 90%;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                width: 100%; 
                list-style: none;
            }
        }
    }
}